{% extends "home/contributor_index.html" %}
   
{% block body %}
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contribute_index' %}">Contribute</a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'learn' %}">Learn</a>
        <a href="{% url 'social_media' %}">Socials</a>
        <a href="{% url 'stories' %}">Stories</a>
        <h1>The personalized/thank you page will go here</h1>
        <h3>Thanks for the contribution {{ contributor }}!</h3>
{% endblock %}