{% extends "home/layout.html" %}

{% load static %}
   
{% block body %}
<div class="nav">
    <div class="slideshow-container">
        <div class="story active">
            <div class="main">
                <div class="image-container">
                        <a href="https://www.instagram.com/spray4hope/">
                                <img src="{% static 'home/insta.jpg' %}" alt="Logo" class="responsive-image">
                        </a>
                </div>
                <div class="image-container">
                        <a href="https://mail.google.com/mail/u/2/#inbox?compose=CllgCKCBBJCQHsLrrHLCgrlJJhWFGKbgXzrkFLbcDsblgBwwsNxDwvBnRzFcMFGPshVghhjWgbV">
                                <img src="{% static 'home/gmail.jpg' %}" alt="Logo" class="responsive-image">
                        </a>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
{% endblock %}