{% extends "home/layout.html" %}

{% load static %}
   
{% block body %}
    <div class="nav">
        <div class="slideshow-container">
                <div class="story active">
                  <div class="story_header">
                    <h2>Our Mission Statement</h2>
                  </div>
                  <div class="main" style="position:relative;">
                    <div class="image-container">
                      <a href="https://www.cdc.gov">
                        <img src="{% static 'home/logo.jpg' %}" alt="Logo">
                      </a>
                    </div>
                    <div class="text-container">
                      <p>To say the opioid crisis is an epidemic is an understatement. Over 100,000 people die every year due to overdose; that is why our goal is to improve Narcan accessibility across the United states. Overdose is often a catalyst for the motivation to get clean, but getting clean requires surviving rock bottom.</p>
                    </div>
                  </div>
                </div>
                <div class="story active">
                  <div class="story_header">
                    <h2>"FDA approves first over-the-counter Narcan"... Now what?</h2>
                  </div>
                  <div class="main" style="position:relative;">
                    <div class="image-container" style="display: flex; justify-content: center">
                      <a href="https://www.politico.com/news/2023/03/29/fda-otc-narcan-spray-approval-00089376">
                        <picture style=>
                          <source media="(min-width: 1160px)" type="image/webp" srcset="https://www.politico.com/dims4/default/a9d32e7/2147483647/strip/true/crop/3913x2727+0+0/resize/630x439!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 1x,https://www.politico.com/dims4/default/3c57b7e/2147483647/strip/true/crop/3913x2727+0+0/resize/1260x878!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 2x">
                          <source media="(min-width: 1160px)" srcset="https://www.politico.com/dims4/default/a9d32e7/2147483647/strip/true/crop/3913x2727+0+0/resize/630x439!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 1x,https://www.politico.com/dims4/default/3c57b7e/2147483647/strip/true/crop/3913x2727+0+0/resize/1260x878!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 2x">
                          <source media="(min-width: 767px)" type="image/webp" srcset="https://www.politico.com/dims4/default/b16970e/2147483647/strip/true/crop/3913x2727+0+0/resize/960x669!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 1x,https://www.politico.com/dims4/default/8f9cdf4/2147483647/strip/true/crop/3913x2727+0+0/resize/1920x1338!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 2x">
                          <source media="(min-width: 767px)" srcset="https://www.politico.com/dims4/default/b16970e/2147483647/strip/true/crop/3913x2727+0+0/resize/960x669!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 1x,https://www.politico.com/dims4/default/8f9cdf4/2147483647/strip/true/crop/3913x2727+0+0/resize/1920x1338!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 2x">
                          <source media="(max-width: 320px)" type="image/webp" srcset="https://www.politico.com/dims4/default/11fe6b8/2147483647/strip/true/crop/3913x2727+0+0/resize/280x195!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 1x,https://www.politico.com/dims4/default/6a0b84c/2147483647/strip/true/crop/3913x2727+0+0/resize/560x390!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 2x">
                          <source media="(max-width: 320px)" srcset="https://www.politico.com/dims4/default/11fe6b8/2147483647/strip/true/crop/3913x2727+0+0/resize/280x195!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 1x,https://www.politico.com/dims4/default/6a0b84c/2147483647/strip/true/crop/3913x2727+0+0/resize/560x390!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 2x">
                          <source type="image/webp" srcset="https://www.politico.com/dims4/default/a9d32e7/2147483647/strip/true/crop/3913x2727+0+0/resize/630x439!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 1x,https://www.politico.com/dims4/default/3c57b7e/2147483647/strip/true/crop/3913x2727+0+0/resize/1260x878!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 2x">
                          <source srcset="https://www.politico.com/dims4/default/a9d32e7/2147483647/strip/true/crop/3913x2727+0+0/resize/630x439!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 1x,https://www.politico.com/dims4/default/3c57b7e/2147483647/strip/true/crop/3913x2727+0+0/resize/1260x878!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 2x">
                          <img class="Image" data-image-size="articleImageLeadSmall" alt="A hand holds a box of Narcan Nasal Spray." title="A hand holds a box of Narcan Nasal Spray." srcset="https://www.politico.com/dims4/default/a9d32e7/2147483647/strip/true/crop/3913x2727+0+0/resize/630x439!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 1x,https://www.politico.com/dims4/default/3c57b7e/2147483647/strip/true/crop/3913x2727+0+0/resize/1260x878!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg 2x" src="https://www.politico.com/dims4/default/a9d32e7/2147483647/strip/true/crop/3913x2727+0+0/resize/630x439!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F1d%2Fc6%2F53e8f0d64784994bc172ee383912%2Fnarcan-89489.jpg">
                        </picture>
                        <p class="story-meta__credit">
                          A two-pack of Narcan with 4 mg each costs about $70, though it's not clear whether Emergent BioSolutions will continue to sell the drug at that cost. | Elise Amendola/AP Photo
                        </p>
                      </a>
                    </div>
                    <div class="text-container">
                      <p>Although this is a major accomplishment, there are still many barriers preventing a significant lowering of overdose deaths. 
                        The two largest barriers in combatting opioid addiction are stigma and financing. Many people are still unwilling to learn about addiction as a disease rather than a character flaw.
                        Through teaching and the sharing of overdose/addiction stories, we hope to help others look at addiction without bias. We hope that combatting the stigma not only helps with financing, but more importantly
                        allows those suffering to feel more comfortable reaching out for help. <br> With this news being so recent, there are currently supply chain and financing issues preventing proper Narcan accessibility. Narcan is inherently expensive 
                        and often not thought of until the time of emergency. While the approval of OTC sale helps reduce the fear of criminal prosecution when treating overdose, most people don't carry enough cash to cover this emergency expense. <br>
                        In overdose seconds matter. The transaction time may be the difference between life and death.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}